body {
    font-family: Arial, sans-serif;
    background-color: beige;
    margin: 0;
    padding: 20px; 
}

.resume-container {
    display: flex;
    background-color:rgb(253, 220, 158);
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.profile-picture {
    width: 75%;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid orange;
    margin-bottom: 20px;

}

.left-section {
    background-color:rgb(11, 11, 112);
    color: white;
    padding: 20px;
    width: 30%;
    text-align: center;
    box-sizing: border-box;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}

h3 {
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgb(11, 11, 112);;
    
}

ul {
    list-style-type: fill round;
    padding: 10px;
    margin: 10px 0;
}

ul li {
    margin: 5px 0;
}

/* right section styling */
.right-section {
    padding: 20px;
    width: 70%;
    box-sizing: border-box;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
}

button:hover {
    background-color: darkblue;
    color: white;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .resume-container {
        flex-direction: column;
    }

    .left-section {
        width: 100%;
        border-right: none;
    }

    .right-section {
        width: 100%;
    }
}